# 数据库配置
# MySQL 连接字符串格式：mysql://用户名:密码@主机:端口/数据库名
DATABASE_URL="mysql://root:123456@127.0.0.1:3306/container_transport"

# NextAuth 配置
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
